{% extends "main/homepage.html" %}
{% load custom_filters %}
<style>
    .custom-input {
        height: 50px;
        width: 620px;
        box-sizing: border-box;
    }
    .custom-input-group {
        display: flex;
        align-items: center;
    }
</style>
{% block title %}
Logowanie
{% endblock %}

{% block content %}
<form method="post" action="{%url 'login' %}">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit" class="btn btn-success" style="margin-bottom: 20px">Zaloguj się</button>
    <p>Nie masz konta? Stwórz je <a href="{% url 'register' %}">tutaj</a>.</p>
</form>
{% endblock %}